.short-answer-element {
  display: flex;

  &__input {
    font-size: 20px !important;
    font-weight: bold !important;
  }

  &__button {
    width: 100px;
    font-size: 16px !important;
    font-weight: bold !important;
    background: white !important;

    &:hover {
      background: gray !important;
    }
  }
}
