.short-answer-element {
  display: flex;

  &__input {
    font-weight: bold !important;
    background-color: white !important;
    text-align: center;
  }

  &__button {
    width: 100px;
    font-weight: bold !important;
    background: white !important;

    &:hover {
      background: gray !important;
    }
  }
}
