.side-bar {
  width: 72px;
  border-right: 1px solid rgba(#5a6577, 0.15);

  &__button {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 1rem;

    > div {
      white-space: nowrap;
      font-size: 0.8rem;
    }

    &.active {
      background-color: rgba(#26c7d9, 0.1);
      color: #21afbf;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}
